*{
    box-sizing: border-box;
}

@font-face { 
    font-family: 'NanumBrush'; 
    src: url(NanumBrush.ttf) format('truetype');
    
    font-family: 'NanumSquareLight';
    src: url(NanumSquareLight.ttf) format('truetype');
}

h1{
    text-align: center;
    font-family: NanumBrush;
}

header{
    height: 40px;
    background-color: beige; 
    text-align: center;
    font-family: NanumBrush;
}
main{
    height: 600px;
    background-color: #f8f8f8;
    text-align: center;
    font-family: NanumBrush;
}
footer{
    height: 200px;
    background-color: white;
    text-align: center;
    font-family: NanumBrush;
}